node_modules/
*/temp/
*/library/
*/local/
*.log
.DS_Store
*/assets/oms.ts
*/assets/oms.ts.meta
*/extensions/cue/
*/extensions/oh-my-script/
*/exm.local.yaml
*/exm-lock.local.yaml
*/src/generated/

basic/build/
basic/native/
basic/profiles/v2/packages/
