node_modules/
*/temp/
*/library/
*/local/
*.log
.DS_Store
.validation/
*/assets/oms.ts
*/assets/oms.ts.meta
*/extensions/cue/
*/extensions/oh-my-script/
*/exm.local.yaml
*/exm-lock.local.yaml
*/src/generated/

*/build/
*/native/
*/profiles/v2/packages/
